@import '../styles/various.scss';

.#{$defaultPrefix}-message-notice__container {
  display: flex;
  align-items: center;
  border: 1px solid var(--component-preview-border);
  padding: 8px 30px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--component-preview-primary-color);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  svg {
    display: inline-block;
    fill: currentColor;
    color: var(--component-preview-primary-color);
    cursor: pointer;
    margin-right: 4px;
  }
}

.slide-fade-leave-active,
.slide-fade-enter-active {
  transition: all 0.25s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translate(-50%, -75px);
  opacity: 0;
}
